* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Kabrio";
    src: local("../fonts/Kabrio-Bold.ttf");
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--bgColor);
    position: relative;
    font-family: "Kabrio", "Arial", sans-serif;
}

:root {
    --codeFontColor: #b5b5b5;
    --codeBgColor: #393f3c45;

    --articleActiveWidth: clamp(160px, 65vw, 1280px);
    --standartDurationTime: .2s;
    --longDurationTime: .75s;
    --linkUnactiveColor: #84a0ef;
    --linkActiveColor: white;
    --unactiveFontColor: #ffffffca;
    --activeFontColor: white;
    --smallFontSize: clamp(0.5rem, 3vw, 0.85rem);
    --standartFontSize: clamp(0.5rem, 3vw, 1rem);
    --smallBigFontSize: clamp(0.5rem, 4vw, 1.4rem);
    --bigFontSize: clamp(0.5rem, 5vw, 2rem);
    --bgColor: #1c1b1f;
    --lightBgColor: #29282e;
    --lightLinkBg: #ffffff22;

    --leftMenuWidth: clamp(200px, 35vw, 20rem);
    --leftMenuVerticalGap: 0.5rem;
    --leftMenuBorderColor: 1px solid white;
    --leftMenuBg: #1d1c1fd4;
    --leftMenuBgBlur: blur(0.5rem);
    --standartBgBlur: blur(0.5rem);

    --authHrBorder: 1px solid #ffffffca;
    --standartBorder: 1px solid white;
    --HeaderBorderColor: 1px solid white;
    --FooterBorderColor: 1px solid white;

    --userAvatarImgSize: clamp(120px, 12vw, 20rem);
    --userContainerWidth: clamp(160px, 65vw, 1280px);
    --userLeftContainerWidth: 15rem;
    --DWSLogoSize: clamp(120px, 12vw, 20rem);
}

.Container {
    width: var(--articleActiveWidth);
    margin: auto;
}

.Text {
    margin-top: .5rem;
    color: var(--unactiveFontColor);
    font-size: var(--standartFontSize);
}

.ThemeTitle {
    margin-top: 1rem;
    color: var(--unactiveFontColor);
    font-size: var(--smallBigFontSize);
}

.Link {
    color: var(--linkUnactiveColor);
    font-size: var(--standartFontSize);
    transition: color var(--standartDurationTime);
    cursor: pointer;
    text-decoration: none;
    margin: 0 .25rem 0 .25rem;
}

.Link:hover {
    color: var(--linkActiveColor)
}


.CodeText,
code {
    margin: 0 .25rem 0 .25rem;
    background: var(--codeBgColor);
    border-radius: .2rem;
    padding: 0 .2rem 0 .2rem;
    color: var(--codeFontColor);
    font-size: var(--standartFontSize);
}

.CodeContainer {
    overflow: auto;
    width: 100%;
    background: var(--codeBgColor);
    border-radius: .2rem;
    display: flex;
    margin-top: 1rem;
}

.SpanCodeboxLine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: .1rem solid #ffffff47;
    height: 100%;
    -webkit-backdrop-filter: blur(5rem);
    backdrop-filter: blur(5rem);
    padding: .1rem .4rem .4rem .4rem;
}

.SpanLine {
    color: var(--unactiveFontColor);
    font-size: var(--smallFontSize);
    line-height: 1.416;
}

pre {
    line-height: 1.2;
    padding: 0 0 0 .4rem;
    color: var(--unactiveFontColor);
    font-size: var(--standartFontSize);
}

@media screen and (max-width: 520px) {
    pre {
        margin-left: -26.5vw;
    }
}

.TitleText {
    margin-top: .3rem;
    font-size: var(--bigFontSize);
    color: var(--activeFontColor);
}

.TopContainer {
    margin: auto;
    width: var(--articleActiveWidth);
}

.FlexContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.TopUl {
    display: flex;
}

.TopLi {
    list-style-type: none;
    color: var(--activeFontColor);
}

.TopLi:not(:last-child)::after {
    content: ">";
    color: var(--activeFontColor);
    margin: 0 9px 0 7px;
    display: inline-block;
    font-size: var(--smallFontSize);
}

.TopLiLink {
    color: var(--linkUnactiveColor);
    transition: color var(--standartDurationTime);
    cursor: pointer;
    text-decoration: none;
    font-size: var(--smallFontSize);
}

.TopLiLink:hover {
    color: var(--linkActiveColor);
}

.DateSpan {
    color: var(--unactiveFontColor);
    font-size: var(--smallFontSize);
}
a:hover{
    text-decoration: underline; 
}