.Container {
    width: var(--articleActiveWidth);
    margin: auto;
}

.Text {
    margin-top: .5rem;
    color: var(--unactiveFontColor);
    font-size: var(--standartFontSize);
}

.ThemeTitle {
    margin-top: 1rem;
    color: var(--unactiveFontColor);
    font-size: var(--smallBigFontSize);
}

.Link {
    color: var(--linkUnactiveColor);
    font-size: var(--standartFontSize);
    transition: color var(--standartDurationTime);
    cursor: pointer;
    text-decoration: none;
    margin: 0 .25rem 0 .25rem;
}

.Link:hover {
    color: var(--linkUnactiveColor)
}


.CodeText {
    margin: 0 .25rem 0 .25rem;
    background: var(--codeBgColor);
    border-radius: .2rem;
    padding: 0 .2rem 0 .2rem;
    color: var(--codeFontColor);
    font-size: var(--standartFontSize);
}

.CodeContainer {
    overflow: auto;
    width: 100%;
    background: var(--codeBgColor);
    border-radius: .2rem;
    display: flex;
    margin-top: 1rem;
}

.SpanCodeboxLine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: .1rem solid #ffffff47;
    height: 100%;
    backdrop-filter: blur(5rem);
    padding: .1rem .4rem .4rem .4rem;
}

.SpanLine {
    color: var(--unactiveFontColor);
    font-size: var(--smallFontSize);
    line-height: 1.416;
}
pre {
    margin-left: -8.5rem;
    line-height: 1.2;
    padding: 0 0 0 .4rem;
    color: var(--unactiveFontColor);
    font-size: var(--standartFontSize);
}
@media screen and (max-width: 520px) {
    pre{
        margin-left: -26.5vw;
    }
}